### Exploratory Data Analysis

### Load data for processing

In [400]:
# read two data files
import pandas as pd
import numpy as np
credits_df = pd.read_csv('/Users/Faisal/Development/recommender-storage/data/tmdb_credits.csv')
movies_df = pd.read_csv('/Users/Faisal/Development/recommender-storage/data/tmdb_movies.csv')

In [401]:
# check credits dataset
credits_df.head(5)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [402]:
# check movies dataset
movies_df.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [403]:
# Join two dataset based on id (movie_id)
credits_df.columns = ['id','tittle','cast','crew']
df = movies_df.merge(credits_df, on='id')

In [404]:
# check joined dataset

df.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,tittle,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

### Remove unnecessary columns

In [405]:
# check columns

df.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'tittle', 'cast', 'crew'],
      dtype='object')

In [406]:
# drop unnecessary columns

df = df.drop(['budget', 'homepage', 'keywords',
              'original_title', 'production_companies',
              'release_date', 'revenue', 'runtime',
              'spoken_languages', 'status', 'tagline',
              'cast', 'crew', 'tittle'], axis=1)

In [407]:
# check available columns
df.columns

Index(['genres', 'id', 'original_language', 'overview', 'popularity',
       'production_countries', 'title', 'vote_average', 'vote_count'],
      dtype='object')

In [408]:
# rename columns

df.columns = ['genres', 'id', 'language',
              'overview', 'popularity',
              'countries', 'title',
              'vote_average', 'vote_count']

In [409]:
# check data after removing unnecessary columns
df.head(1)

,genres,id,language,overview,popularity,countries,title,vote_average,vote_count
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",Avatar,7.2,11800

In [410]:
# Check for null values
df.isnull().sum()

genres          0
id              0
language        0
overview        3
popularity      0
countries       0
title           0
vote_average    0
vote_count      0
dtype: int64

In [411]:
# fill null values with empty string

df['overview'] = df['overview'].fillna('')

In [412]:
# Check for null values
df.isnull().sum()

genres          0
id              0
language        0
overview        0
popularity      0
countries       0
title           0
vote_average    0
vote_count      0
dtype: int64

In [413]:
# check data
df.head(5)

,genres,id,language,overview,popularity,countries,title,vote_average,vote_count
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",Avatar,7.2,11800
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",Pirates of the Caribbean: At World's End,6.9,4500
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,en,A cryptic message from Bond’s past sends him o...,107.376788,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",Spectre,6.3,4466
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,en,Following the death of District Attorney Harve...,112.312950,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",The Dark Knight Rises,7.6,9106
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,en,"John Carter is a war-weary, former military ca...",43.926995,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",John Carter,6.1,2124

### Demographic Recommendation

In [414]:
# find mean vote accross the whole dataset
C = df['vote_average'].mean()
C

6.092171559442016

In [415]:
# find minimum vote requires to be listed
m = df['vote_count'].quantile(.9)
m

1838.4000000000015

In [416]:
# all all the movies that matches minimum vote requirments
movies_filter_by_vote_count = df.copy().loc[df['vote_count'] >= m]
movies_filter_by_vote_count.shape

(481, 9)

In [417]:
# weighted rating calculation
def weighted_rating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [418]:
# Add a new feature 'score' and calculate its value with `weighted_rating()`
movies_filter_by_vote_count['score'] = movies_filter_by_vote_count.apply(weighted_rating, axis=1)

In [419]:
# check data
movies_filter_by_vote_count.head(5)

,genres,id,language,overview,popularity,countries,title,vote_average,vote_count,score
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",19995,en,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",Avatar,7.2,11800,7.050669
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",285,en,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",Pirates of the Caribbean: At World's End,6.9,4500,6.665696
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",206647,en,A cryptic message from Bond’s past sends him o...,107.376788,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",Spectre,6.3,4466,6.239396
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",49026,en,Following the death of District Attorney Harve...,112.312950,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",The Dark Knight Rises,7.6,9106,7.346721
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",49529,en,"John Carter is a war-weary, former military ca...",43.926995,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",John Carter,6.1,2124,6.096368

In [420]:
# find top trending movies based on score
trending_movies = movies_filter_by_vote_count.sort_values('score', ascending=False)

#Print the top 10 movies
trending_movies.head(10)

,genres,id,language,overview,popularity,countries,title,vote_average,vote_count,score
1881,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",278,en,Framed in the 1940s for the double murder of h...,136.747729,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",The Shawshank Redemption,8.5,8205,8.059258
662,"[{""id"": 18, ""name"": ""Drama""}]",550,en,A ticking-time-bomb insomniac and a slippery s...,146.757391,"[{""iso_3166_1"": ""DE"", ""name"": ""Germany""}, {""is...",Fight Club,8.3,9413,7.939256
65,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",155,en,Batman raises the stakes in his war on crime. ...,187.322927,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",The Dark Knight,8.2,12002,7.920020
3232,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",680,en,"A burger-loving hit man, his philosophical par...",121.463076,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",Pulp Fiction,8.3,8428,7.904645
96,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",27205,en,"Cobb, a skilled thief who commits corporate es...",167.583710,"[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",Inception,8.1,13752,7.863239
3337,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",238,en,"Spanning the years 1945 to 1955, a chronicle o...",143.659698,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",The Godfather,8.4,5893,7.851236
95,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",157336,en,Interstellar chronicles the adventures of a gr...,724.247784,"[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",Interstellar,8.1,10867,7.809479
809,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",13,en,A man with a low IQ has accomplished great thi...,138.133331,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",Forrest Gump,8.2,7927,7.803188
329,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",122,en,Aragorn is revealed as the heir to the ancient...,123.630332,"[{""iso_3166_1"": ""NZ"", ""name"": ""New Zealand""}, ...",The Lord of the Rings: The Return of the King,8.1,8064,7.727243
1990,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1891,en,"The epic saga continues as Luke Skywalker, in ...",78.517830,"[{""iso_3166_1"": ""US"", ""name"": ""United States o...",The Empire Strikes Back,8.2,5879,7.697884

In [421]:
# find top movies based on popularity
popular_movies = df.sort_values('popularity', ascending=False)

In [422]:
# check value count for each language
df['language'].value_counts()

en    4505
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
cn      12
ru      11
ko      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: language, dtype: int64

In [423]:
# filter movies based on language

movies_filter_by_language = df.copy().loc[df['language'] == 'fr']
movies_filter_by_language['score'] = movies_filter_by_language.apply(weighted_rating, axis=1)

In [424]:
# find top k movies by language
trending_movies_by_language = movies_filter_by_language.sort_values('score', ascending=False)
trending_movies_by_language.head(10)

,genres,id,language,overview,popularity,countries,title,vote_average,vote_count,score
1260,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",194,fr,"At a tiny Parisian café, the adorable yet pain...",73.720244,"[{""iso_3166_1"": ""FR"", ""name"": ""France""}, {""iso...",Amélie,7.8,3310,7.190166
3414,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10752, ""n...",46738,fr,A mother's last wishes send twins Jeanne and S...,21.285206,"[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",Incendies,7.9,479,6.465845
3328,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 18, ""...",2011,fr,"In 1970s Iran, Marjane 'Marji' Statrapi watche...",24.281951,"[{""iso_3166_1"": ""FR"", ""name"": ""France""}, {""iso...",Persepolis,7.7,450,6.408341
3535,"[{""id"": 18, ""name"": ""Drama""}]",5528,fr,"Set in 1940's France, a new teacher at a schoo...",20.982455,"[{""iso_3166_1"": ""CH"", ""name"": ""Switzerland""}, ...",The Chorus,7.5,526,6.405366
2974,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",304410,fr,"The whole Bélier family is deaf, except for si...",25.302978,"[{""iso_3166_1"": ""FR"", ""name"": ""France""}]",The Bélier Family,7.0,766,6.359180
3145,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",86837,fr,Georges and Anne are in their eighties. They a...,17.151293,"[{""iso_3166_1"": ""FR"", ""name"": ""France""}, {""iso...",Amour,7.5,400,6.343749
3206,"[{""id"": 18, ""name"": ""Drama""}]",71157,fr,The daily grind for the cops of the Police Dep...,14.038703,"[{""iso_3166_1"": ""FR"", ""name"": ""France""}]",Polisse,7.9,285,6.334816
3541,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",979,fr,Events over the course of one traumatic night ...,32.476098,"[{""iso_3166_1"": ""FR"", ""name"": ""France""}]",Irreversible,7.1,538,6.320337
3386,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 35, ""na...",11687,fr,This outrageous time-travel comedy follows the...,8.893676,"[{""iso_3166_1"": ""FR"", ""name"": ""France""}]",The Visitors,7.1,420,6.279600
2497,"[{""id"": 35, ""name"": ""Comedy""}]",8265,fr,Although living a comfortable life in Salon-de...,18.923181,"[{""iso_3166_1"": ""FR"", ""name"": ""France""}]",Welcome to the Sticks,6.8,615,6.269605